/******* Change Box Model ***************/
*{
  margin: 0.2rem;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#top-header{
  display: flex;
  justify-content:space-between;
  margin: 1rem 0;
  margin-bottom: 1.5rem;
}

#top-header a{
  text-decoration: none;
}

.siteName a{
  font-size: 2rem;
  color: black;
  font-weight: bolder;
}

#tools a{
 color: black;
}

#nav{
  padding: 0.5rem 1rem;
  background-color: #242332;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

#nav li a{
  display: flex;
  color: white;
  list-style: none;
  text-decoration: none;
}

#hero{
  background-image: url(/images/vehicles/delorean.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18rem;
  margin: 1rem 0;
  height: 9rem;
}

h1{
  margin: 1rem 0; 
  font-size: 1.5rem;
}

#hero div{
  width: 36%;
  height: 88%;
  display: flex;
  flex-direction: column;
  color:rgb(8, 175, 253);
  background-color: rgba(255, 255, 255, 0.589);
  
}

#hero div a{
  width: 70%;
  background-color:rgb(8, 175, 253);
  text-decoration: none;
  padding: 0.4rem 0;
  text-align: center;
  font-weight: bolder;
}

.up-rev{
  display: flex;
  flex-direction: column-reverse;
  margin-top: 2rem;
}

#reviews{
  margin-bottom: 1.5rem;
  line-height: 1.7rem;
}

#reviews h3, #upgrades h3{
  margin-bottom: 0.7rem;
}

#upgrades{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#upgrades div{
  width: 45%;
  background-color: rgb(8, 175, 253);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#upgrades div img{
  width: 40%;
}

footer{
  margin-top: 0.5rem;
}

#inv-display{
  width: 15rem;
  margin: 0 auto;
  list-style: none;
}

#inv-display li{
  margin: 1rem;
  text-align: center;
  border: 2px solid rgb(50, 94, 114);
  border-radius: 5px;
  background-color: rgba(241, 243, 252, 0.4);
}

.namePrice{
  padding: 1rem;
}

.namePrice h2{
  padding: 0.5rem;
  font-size: 1.1rem;
}
.namePrice span{
  font-weight: bolder;
  font-size: 1rem;
}

#inv-display li a img{
  display: flex;
  width: 100%;
  margin: 0 auto;
  object-fit:cover;
}

#inv-display li a{
  margin: 0;
}

#ind-car img{
  width: 100%;
}

.description{
  margin: 1rem 0.3rem;
}

.description h2:nth-child(2){
  padding: 1rem 0.5rem;
  background-color: rgba(188, 189, 194, 0.4);
  font-size: 1.2rem;
}

.description h2:nth-child(1){
  margin-bottom: 1.3rem;
}

.description p{
  margin: 1.5rem 0;
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

.description span{
  font-weight: bolder;
  font-size: 1.2rem;
}

.description p:nth-child(4){
  background-color: rgba(188, 189, 194, 0.4);
  padding: 1rem 0.5rem;
}

@media screen and (min-width: 500px){
  body{
    background-image: url(/images/site/checkerboard.jpg);
  }

  #wrapper{
    background-color: white;
    max-width: 1000px;
    margin: 1rem auto;
    padding: 1rem;
    border: 7px solid rgb(8, 175, 253);
    border-radius: 4px;
  }

  h1{
    font-size: 2.8rem;
  }

  #hero{
    height: 20rem;
    background-size: initial;
  }

  #hero h3, #hero p{
    font-size: 2rem ;
  }

  #hero div{
    width: 13.5rem;
    margin-left: 7rem;
    justify-content: center;
    padding-top: 3rem;
  }

  #hero div a{
    margin-top: 2rem;
    padding: 1rem 0;
    font-size: 1.5rem;
  }

  .up-rev{
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-top: 2rem;
    column-gap: 3rem;
  }

  #upgrades{
    width: 50%;
    justify-content: start;
  }

  #reviews ul{
    line-height: 3rem;
  }

  footer{
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  #nav ul{
    justify-content: space-around;
  }

  #inv-display{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;

  }

  #inv-display li{
    width: 13rem;
  }
  
  #ind-car{
    display: flex;
  }

  #ind-car img{
    
  }

}

